/*div {
    padding: 2px 2px;
}*/

/* label {
    display: inline-block;
    width: 100px;
    text-align: right;
} */

/*table {
    border: 1px solid black;
}*/

/*tbody {

}*/

th {
    background-color: darkgray;
    color: white;
    /*padding: 0px 20px 0px 0px;*/
}

/*tr.d0 td {
    background-color: #ebebeb;
    color: black;
}

tr.d1 td {
    background-color: lightgray;
    color: black;
}
*/